{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}vytvorit_ukol{% endblock %}
{% block form_action %}{% url "horizon:monitoring:workarounds:create" known_error %}{% endblock %}

{% block modal-header %}New workaround{% endblock %}

{% block modal-body %}
<style type="text/css">
.form-inline .form-field label { width:190px; float:left; }
.form-inline .form-field .input { margin-left: 200px; }
.form-inline textarea { width:420px; height: 100px; }
.form-inline input, .form-inline button, .form-inline a.btn { margin-left: 0px; }
</style>
<div class="form-inline">
  {% include "horizon/common/_form_fields.html" %}
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url "horizon:monitoring:workarounds:index" %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}