{% load floppyforms %}{% block row %}{% for field in fields %}
{% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
{% block field %}<div class="control-group form-field field-{{ field|id }} {{ classes }} clearfix">
    {% block label %}{% if field|id %}<label for="{{ field|id }}" {% if field.field.required %}class="required"{% endif %}>{% endif %}{{ label }}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}{% endblock %}
    <div class="input">
        {% block errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endblock %}
        {% block widget %}{% formfield field %}{% endblock %}
        {% block help_text %}{% if help_text %}<br /><span class="helptext">{{ help_text }}</span>{% endif %}{% endblock %}
        {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
    </div>
</div>{% endblock %}
{% endwith %}{% endfor %}{% endblock %}