{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}vytvorit_ukol{% endblock %}
{% block form_action %}{% url "horizon:monitoring:workarounds:create_from_error" known_error %}{% endblock %}

{% block modal-header %}New workaround{% endblock %}

{% block modal-body %}
	{% include "horizon/common/_form_fields.html" %}
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url "horizon:monitoring:errors:index" %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
