{% load i18n sizeformat %}
{% load url from future %}

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{% trans "Event Overview" %}</h3>
  </div>
  <div class="box-body">
    <dl>
      <dt>{% trans "Check" %}</dt>
      <dd>{{ instance.check.name }}</dd>
      <dt>{% trans "Output" %}</dt>
      <dd>{{ instance.check.output }}</dd>
      <dt>{% trans "Client" %}</dt>
      <dd>{{ instance.client.name }} - {{ instance.client.address }}</dd>
      <dt>{% trans "Known Error" %}</dt>
      <dd>{{ instance.error_name }}</dd>
      <dt>{% trans "Error Description" %}</dt>
      <dd>{{ instance.description }}</dd>
    </dl>
  </div>
</div>