{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Current Events" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Monitoring System") %}
{% endblock page_header %}

{% block main %}
{{ table.render }}
{% endblock %}

{% block js %}
{% include "horizon/_scripts.html" %}
<script type='text/javascript' charset='utf-8'>
$( document ).ready(function() {
  $('td.status_column:contains("3")').parent().addClass('unknown');
  $('td.status_column:contains("2")').parent().addClass('danger');
  $('td.status_column:contains("1")').parent().addClass('warning');
  $('td.silenced_column').has("i.icon-ok").parent().addClass('silenced'); 
  // setTimeout(function(){ window.location.reload(1); }, 15000);
});
</script>
<style type="text/css">
  td { background-color: transparent!important; }
  tr.silenced { opacity:.6!important; }
  tr.silenced ul { opacity:1!important; }
  td.centered { text-align: center; }

  tr.danger { background-color: #e74c3c; }
  tr.danger td { color: #fff!important; }
  tr.danger:hover { background-color: #e74c3c!important; }

  tr.warning { background-color: #f39c12; }
  tr.warning td { color: #fff!important; }
  tr.warning:hover { background-color: #f39c12;  }
  
</style>
{% endblock %}
